<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/styles/courses1.css">

    <title>Courses</title>
</head>
<body style="overflow-x: hidden;">
    <div class="header">
        <ul>
            <li style="padding-right: 730px;">University</li>
            <a href="/home1"><li>Home</li></a>
            <a href="/department1"><li>Departments</li></a>
            <a href="/courses1"><li><u>Courses</u></li></a>
            <a href="/Profile1"><li>Profile</li></a>
        </ul>
    </div>

    <% courses.forEach(function(c){ %>
        <div class="dep">
            <a href="/courses1/<%= c.coursename %>" style="text-decoration: none; color:black" ><div>
                <div></div>
                <p class="subhead"><%= c.coursename %></p>
                <p class="subtext"><%= c.breif.substring(0,100) %></p> 
            </div></a>
        </div>
    
    <% }); %>


    <div><a href="/Addcourses1" class="link">
        <button class="addcourse">+</button>
        <p class="addtext">Add Course</p>
    </a></div>
    <script src="js\courses.js"></script>


    <footer>
        <div style=" bottom: 0; left: 0; width: 100%; background-color: #1580ab; color: rgb(17, 16, 16); padding: 20px; margin-bottom: -10px;margin-left: -10px;;text-align: center;">
            
            <p style="font-size: 20px">The University</p>
            <p>&copy; 2023 All rights reserved.</p>
      </footer>
</body>
</html>