<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="/styles/dashboard.css">

        <title>Dashboard</title>
    </head>
    <body>
        <div class="bigbox">

            <div class="bluebox">
                <a href="/home1" style="text-decoration: none; color: white;">
                <div class="logo">
                    <p>The</p>
                    <p class="logo2">University</p>
                </div></a>
            </div>
            
            <div class="heading">
                <h1>Welcome to the Dean's Dashboard.</h1>
            </div>

            <div class="courses">
                <h2>Courses</h2>
                <p>Automata Theory<br><br>Nuclear Physics<br><br>
                   World War II<br><br>VLSI</p>
            </div>

            <div class="student">
                <img src="styles/images/student12.png">
                <p class="number1"><%= Studentnum %></p>
                <p class="subtext1">Students enrolled</p>
            </div>

            <div class="faculty">
                <img src="styles/images/faculty12.png">
                <p class="number2"><%= Facultynum %></p>
                <p class="subtext2">Faculty onstaff</p>
            </div>

        </div>
    </body>
</html>