@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
.header {
    background-color: #d1d8e0;
    position: relative;
    width: 1538px;
    top: -10px;
    left:-10px;
    height: 75px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-family: 'Source Sans Pro', sans-serif;
}

.header ul {
    display: flex;
    list-style-type: none;
    font-size: 24px;
}

.header ul li {
    padding-right: 45px;
}

.header ul a {
    text-decoration: none;
    color: black;
}

.header ul a:hover {
    text-decoration:underline;
    font-weight: bold;
}

.dep {
    border:none;
    width: 400px;
    height: 300px;
    display:inline-block;
    position: relative;
    top: 20px;
    left: 150px;
    
}

.dep div {
    border: none;
    position:relative;
    width: 350px;
    height: 200px;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 1px 1px #d1d8e0;
    cursor: pointer;
}

.dep div:hover {
    box-shadow: 0px 0px 10px 10px #d1d8e0;
}

.dep div div {
    border: none;
    box-shadow: none;
    position: relative;
    width:50px;
    margin-top: 0px;
    margin-right: 0px;
    background-color: #fed330;
    border-radius: 15px 20px 20px 15px;
}

.dep div p {
    position: relative;
    bottom: 210px;
    left: 20px;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #f7b731;
}

.dep div ul {
    position: relative;
    margin-top: -210px;
    color: #4b6584;
}
.testimonials-section li {
    background: #006BD6;
    text-align: center;
    padding: 2em 1em;
    width: 80%;
    margin: 0 auto 5em auto;
    border-radius: 1em;
}
.container{
    text-align: center;
    font-size: large;
    font-family: 'Poppins';
}

.h2{
    color: #868686;
}